<h1>Posts</h1>

<%= link_to "New Post", new_post_path, class: "btn" %>

<% @posts.each do |post| %>
  <div class="post">
    <h2><%= post.title %></h2>
    <p><%= truncate(post.content, length: 200) %></p>
    <div class="actions">
      <%= link_to "Read more", post_path(post) %>
      <%= link_to "Edit", edit_post_path(post) %>
      <%= link_to "Delete", post_path(post), 
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "btn btn-danger" %>
    </div>
  </div>
<% end %>
